@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	align-items: center;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

canvas {
	border: 2px solid steelblue;
}

.toolbox {
	background-color: steelblue;
	border: 1px solid stlateblue;
	display: flex;
	justify-content: center;
	gap: 4rem;
	width: 804px;
	padding: 1rem;
}

.size-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.size-container span {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1rem;
}

.color-container {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	color: #fff;
}

input[type="color"] {
	appearance: none;
	background-color: transparent;
	border: 0;
}

.clear {
	align-self: center;
	color: #fff;
	border: 1px solid transparent;
	background-color: slateblue;
	cursor: pointer;
}

.clear:active {
	border-color: #000;
	transform: scale(0.9);
}
