@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #efedd6;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  gap: 1rem;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0.625rem;
}

.box {
  align-items: center;
  background-color: steelblue;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  height: 8rem;
  justify-content: center;
  transform: translateX(300%);
  transition: transform 0.7s ease;
  width: 15rem;
}

.box h2 {
  font-size: 2rem;
}

.box:nth-of-type(even) {
  transform: translate(-300%);
}

.box[data-animate="true"] {
  transform: translate(0);
}
